extends layout
block content

    #header
      h1= title
    #newTaskMessage
    form#newTaskForm(method='post' enctype='application/json')
      .form-group
        label(for='task') Task
        input#task.form-control.transparent(type='text', placeholder='Task' name='task')
      .form-group
        label(for='description') Beschreibung
        textarea.form-control.transparent(rows='7' name='description')
      button#newTaskBtn.btn.btn-defaul.transparent Task anlegen
    input#newTaskAction(type='hidden' name='newTaskAction' value='#{action}')