extends layout

block content
  script(src='/javascripts/backlog.js')
  #header
  h1= title
  #newTaskMessage.fadeIn
  #open.col-md-3
    table#opentable.table.table-hover
      tr
      th.center Offen
  #progress.col-md-3
    table.table.table-hover
      tr
      th.center In Arbeit
  #review.col-md-3
    table.table.table-hover
      tr
      th.center Review
  #done.col-md-3
    table.table.table-hover
      tr
      th.center Fertig
  #newTask.col-md-12
    button#newTaskBtn.btn.btn-default.transparent  Neuen Task anlegen
  #dialog-form(title="Neuen Task anlegen")
    form#newTaskForm(method='post' enctype='application/json')
      .form-group
        p#message
      .form-group
          label(for='task') Task
          input#task.form-control.transparent(type='text', placeholder='Task' name='task')
        .form-group
          label(for='description') Beschreibung
          textarea#description.form-control.transparent(rows='7' name='description' placeholder='Beschreibung des Tasks')
        .form-group
          label(for='priority') Priorität:
          select(name='priority' id="priority")
            option Low
            option(selected="selected") Medium
            option High
        .form-group
          label(for='storypoints') Story Points
          input#storyPoints.form-control.transparent(type='number', placeholder='Story Points' name='storypoints')


    #dialog-form-task(title="Task")
      form#showTaskForm(method='post' enctype='application/json')
        .form-group
          p#messageShow
        .form-group
          label(for='task') Task
          input#taskShow.form-control.transparent(type='text', name='task' disabled=true)
        .form-group
          label(for='description') Beschreibung
          textarea#descriptionShow.form-control.transparent(rows='7' name='description' disabled=true)
        .form-group
          label(for='status') Status
          p#statusShow
        .form-group
          label(for='created') Erstellt:
          p#createdShow
        .form-group
          label(for='priority') Priorität:
          p#priorityShow
        .form-group
          label(for='storypoints') Story Points
            p#storyPointsShow
