extends layout

block content
    script(src='/javascripts/jquery.canvasjs.min.js')
    script(src='/javascripts/chartMilestone.js')
    input#sprintId(type="hidden" value="#{sprintid}")
    hr
    #showMessage.fadeIn
    #chartContainer
