extends layout

block content
    script(src='/javascripts/jquery.canvasjs.min.js')
    script(src='/javascripts/chart.js')
    input#sprintId(type="hidden" value="#{sprintid}")
    #chartContainer






