extends layout

block content
    script(src='/javascripts/chartIndex.js')
    #header
        h1= title

        #sprints.col-md-4.col-md-offset-2
            table#sprintTable.table.table-hover
                tr
                th.center Sprint auswählen:

        #milestones.col-md-4
            table#milestoneTable.table.table-hover
                tr
                th.center Meilenstein auswählen:
