extends layout

block content
    script(src='/javascripts/jquery.canvasjs.min.js')
    script(src='/javascripts/chartMilestone.js')
    input#milestoneId(type="hidden" value="#{milestoneid}")
    hr
    #showMessage.fadeIn
    #chartContainer
