extends layout

block content
    .jumbotron.transparent
      h1 FAQ
      p  Bedienungsanleitung

    ul
        li
            a(href="#user")  Benutzerverwaltung
        li
            a(href="#backlog")  Backlog
        li
            a(href="#sprints")  Sprints
    hr


    h2(id="user")  Benutzerverwaltung
    br

    br
    br
    br
    br
    br
    h2(id="backlog")  Backlog
    br
    br
    br
    br
    br
    br
    h2(id="sprints")  Sprints