extends layout

block content
    .jumbotron.transparent
      h1 FAQ
      p  Bedienungsanleitung

    ul
        li
            a(href="#user")  Benutzerverwaltung
        li
            a(href="#backlog")  Backlog
        li
            a(href="#sprints")  Sprints
        li
            a(href="#planningPoker")  Planning Poker
    hr


    h2(id="user")  Benutzerverwaltung
    br
    h3  Neue User anlegen
    h3  User bearbeiten
    h3  User Rollen
    h2(id="backlog")  Backlog
    h3  Neue Tasks anlegen
    h3  Tasks bearbeiten
    h3  User zuweisen
    h2(id="sprints")  Sprints
    h3  Neue Sprints anlegen
    h3  Sprints bearbeiten
    h3  Sprint mit Tasks befüllen
    h2(id="planningPoker")  Planning Poker
    h3  Tasks bewerten
