extends layout

block content
    .jumbotron.transparent
      h1 FAQ
      p  Bedienungsanleitung

    ul.no-bullet
        li
            a(href="#user")  Benutzerverwaltung
        li
            a(href="#backlog")  Backlog
        li
            a(href="#sprints")  Sprints
        li
            a(href="#planningPoker")  Planning Poker
    hr


    h2(id="user")  Benutzerverwaltung
    br
    h3  Neue User anlegen
    br
    h3  User bearbeiten
    br
    h3  User Rollen
    br
    hr
    h2(id="backlog")  Backlog
    br
    h3  Neue Tasks anlegen
    br
    h3  Tasks bearbeiten
    br
    h3  User zuweisen
    br
    hr
    h2(id="sprints")  Sprints
    br
    h3  Neue Sprints anlegen
    br
    h3  Sprints bearbeiten
    br
    h3  Sprint mit Tasks befüllen
    br
    hr
    h2(id="planningPoker")  Planning Poker
    br
    h3  Tasks bewerten
    br
