extends layout

block content
  #container
    #header.center
      h1= title
        small hallo

    p.center
      |  Ganz Toller Text
      ul.center
        li
          a(href='/backlog') Backlog




