extends layout

block content
    script(src='/javascripts/index.js')
    .jumbotron.transparent.fadeIn
      h1= title
      p  Scrum Tool für die FH
    input#indexHide(type="hidden" value="true")



