extends layout

block content
    script(src='/javascripts/install.js')
    .jumbotron.transparent.fadeIn
        h1= title
        button#installBtn.btn-default.btn  Install
    #log
    input#installHidden(type="hidden" value="install")



