extends layout

block content
    script(src='/javascripts/milestoneIndex.js')
    #header
      h1#milestoneName
      #milestoneMessage.fadeIn
      hr
      button#changeMilestoneBtn.btn.btn-default.transparent.col-md-oddset-10 Meilenstein ändern
    p#description.row
    p#creator.row
    p#begin.row
    p#end.row
    hr

    #message
    #sprintContainer.col-md-6
        p Sprints dem Meilenstein zuordnen:
    #sprintContainer2.col-md-6
        p Sprints aus dem Meilenstein entfernen:
    button#save.btn.btn-default.transparent.col-md-12  Speichern
    input#milestoneId(type="hidden" value="#{title}")

    #dialog-form-milestone(title="Meilenstein ändern")
        form#renameMilestoneForm(method='post' enctype='application/json')
            .form-group
                p#messageShow
            .form-group
                label(for='milestoneChange') Namen ändern:
                textarea#milestoneChange.form-control.transparent(rows = '1', name='Milestone')
            .form-group
                label(for='descriptionChange') Beschreibung ändern:
                textarea#descriptionChange.form-control.transparent(rows= '7', name='Beschreibung')
            .form-group
                label(for='startDateChange') Startdatum ändern:
                input#startDateChange.form-control.transparent(type='text', name='Startdatum')
            .form-group
                label(for='endDateChange') Enddatum ändern:
                input#endDateChange.form-control.transparent(type='text', name='Enddatum')

    #dialog-form-delete(title="Meilenstein wirklich löschen?")
        p Soll der Meilenstein wirklich gelöscht werden?

    #dialog-form-change(title="Änderungen übernehmen?")
        p Sollen die Änderungen wirklich übernommen werden?
