extends layout

block content
    script(src='/javascripts/sprintEdit.js')
    #header
      h1#sprintName
    hr
    p#descriptionHead Beschreibung:
    textarea#description.col-md-4.col-md-offset-4
    p#author.row
    p#begin.row
    p#end.row
    hr

    #message
    #taskContainer.col-md-6
        p  Task auswählen die in den Sprint sollen:
    #taskContainer2.col-md-6
        p  Task auswählen die aus den Sprint sollen:
    button#save.btn.btn-default.transparent.col-md-12  Speichern
    input#sprintId(type="hidden" value="#{title}")
