extends layout

block content
    script(src='/javascripts/sprintShow.js')
    #header
      h1#sprintName
    hr
    p#description
    p#author
    p#begin
    p#end
    hr
    p  Scrum Board
    p
      a#edit.btn.btn-default  Bearbeiten
    #open.col-md-3
        table#opentable.table.table-hover
            tr
            th.center Offen
    #progress.col-md-3
        table.table.table-hover
            tr
            th.center In Arbeit
    #review.col-md-3
        table.table.table-hover
            tr
            th.center Review
    #done.col-md-3
        table.table.table-hover
            tr
            th.center Fertig
    input#sprintId(type="hidden" value="#{title}")
