extends layout

block content
    script(src='/javascripts/sprint.js')
    #header
        h1= title

    //table
        thead
            tr
                th Sprint
                th Beschreibung
                th Startdatum
                th Enddatum
        tbody
            tr

    a.btn.btn-default.transparent(href='/sprint/new', role='button') Neuen Sprint anlegen