extends layout

block content
    script(src='/javascripts/sprint.js')
    #header
        h1= title

    #newSprintMessage.fadeIn

    #open.col-md-4
        table#sprintTable.table.table-hover
            tr
            th.center Sprints - angelegt

    #started.col-md-4
        table#sprintTableStarted.table.table-hover
            tr
            th.center Sprints - gestartet

    #closed.col-md-4
        table#sprintTableClosed.table.table-hover
            tr
            th.center Sprints - beendet

    #newSprint.col-md-12
        button#newSprintBtn.btn.btn-default.transparent Neuen Sprint anlegen

    #dialog-form(title="Neuen Sprint anlegen")
        form#newSprintForm(method='post' enctype='application/json')
            .form-group
                p#messageShow
            .form-group
                label(for='name') Sprint
                input#name.form-control.transparent(type='text', placeholder='Sprint', name='Sprint')
            .form-group
                label(for='description') Beschreibung
                textarea#description.form-control.transparent(rows='7', placeholder='Beschreibung des Sprints', name='description')
            .form-group
                label(for='start') Startdatum
                input#start.form-control.transparent(type='text', name='start')
            .form-group
                label(for='end') Enddatum
                input#end.form-control.transparent(type='text', name='end')
