extends layout

block content
    script(src='/javascripts/sprintEdit.js')
    #header
      h1#sprintName
      #sprintMessage.fadeIn
      hr
      button#changeSprintBtn.btn.btn-default.transparent.col-md-offset-10 Sprint ändern
    p#description.row
    p#author.row
    p#begin.row
    p#end.row
    hr

    #message
    #taskContainer.col-md-6
        p Tasks auswählen, die dem Sprint zugeordnet werden sollen:
    #taskContainer2.col-md-6
        p Tasks auswählen, die aus dem Sprint entfernt werden sollen:
    button#save.btn.btn-default.transparent.col-md-12  Speichern
    input#sprintId(type="hidden" value="#{title}")

    #dialog-form-sprint(title="Sprint ändern")
        form#renameSprintForm(method='post' enctype='application/json')
            .form-group
                p#messageShow
            .form-group
                label(for='sprintChange') Sprintnamen ändern:
                textarea#sprintChange.form-control.transparent(rows = '1', name='Sprint')
            .form-group
                label(for='descriptionChange') Beschreibung ändern:
                textarea#descriptionChange.form-control.transparent(rows= '7', name='Beschreibung')
            .form-group
                label(for='startDateChange') Startdatum ändern:
                input#startDateChange.form-control.transparent(type='text', name='Startdatum')
            .form-group
                label(for='endDateChange') Enddatum ändern:
                input#endDateChange.form-control.transparent(type='text', name='Enddatum')

    #dialog-form-delete(title="Sprint wirklich löschen?")
        p Soll der Sprint wirklich gelöscht werden?

    #dialog-form-change(title="Änderungen wirklich übernehmen?")
        p Sollen die Änderungen wirklich übernommen werden?
