extends layout

block content
    script(src='/javascripts/sprintShow.js')
    #header
      h1#sprintName
    p#description
    p#author
    p#begin
    p#end
    hr
    h3#scrumboardHead  SCRUM Board
    p
      a#edit.btn.btn-default  Sprint bearbeiten oder Tasks zuordnen
    #message
    #open.col-md-3
        table#opentable.table.table-hover
            tr
            th.center Offen
    #progress.col-md-3
        table.table.table-hover
            tr
            th.center In Arbeit
    #review.col-md-3
        table.table.table-hover
            tr
            th.center Review
    #done.col-md-3
        table.table.table-hover
            tr
            th.center Fertig
    input#sprintId(type="hidden" value="#{title}")

    #dialog-form-task(title="Task")
        form#showTaskForm(method='post' enctype='application/json')
            .form-group
                p#messageShow
            .form-group
                label(for='task') Task
                input#taskShow.form-control.transparent(type='text', name='task' disabled=true)
            .form-group
                label(for='description') Beschreibung
                textarea#descriptionShow.form-control.transparent(rows='7' name='description' disabled=true)
            .form-group
                label(for='status') Status
                p#statusShow
            .form-group
                label(for='created') Erstellt:
                p#createdShow
            .form-group
                label(for='priority') Priorität:
                p#priorityShow
            .form-group
                label(for='storypoints') Story Points
                    p#storyPointsShow

        #dialog-delete-confirm(title="Task wirklich löschen?")
            p  Soll der Task wirklich gelöscht werden?

        #dialog-form-end(title="Task beenden")
            form#endTaskForm(method='post' enctype='application/json')
                .form-group
                    p Bitte eingeben, an welchem Datum der Task beendet wurde. Achtung: Das Enddatum sollte nicht vor dem Anfangsdatum des Sprints liegen!
                .form-group
                    label(for='endDate') Enddatum:
                    input#endDate.form-control.transparent(type='text', name='Enddatum')
