extends layout

block content
    script(src='/javascripts/sprintShow.js')
    #header
      h1#sprintName
    hr
    p#description
    p#author
    p#begin
    p#end
    hr
    p  Task auswählen die in den Sprint sollen:
    #taskContainer.col-md-4.col-md-offset-4
    button#save.btn.btn-default.transparent.col-md-8.col-md-offset-2  Speichern
    input#sprintId(type="hidden" value="#{title}")
