extends layout

block content
    script(src='/javascripts/sprintShow.js')
    #header
      h1#sprintName
    p#description
    p  Task auswählen die in den Sprint sollen:
    #taskContainer
    //table#taskTable.table.table-hover
      thead
        th.center  Open Tasks
      tbody
    button#save.btn.btn-default.transparent  Speichern
    input#sprintId(type="hidden" value="#{title}")
