html {

}
body {
  padding-top: 30px;
  background: url("/images/zusammenarbeit.jpg") no-repeat center center fixed;
  background-position-y: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html, body {
  height:100%;
}
a {
  color: #00B7FF;
}
h1 {
  color: #000000;
}

#container {
  background-color: rgba(189, 187, 210, 0.5);
  border-radius: 5px;
  min-height: 100%;
  width: 100%;
}

.noLogin{
  padding-top: 30px;
  background-color: rgba(189, 187, 210, 0.5);
  border-radius: 5px;
  min-height: 100%;
  width: 100%;
}

.tableCenter {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}
.transparent {
  background-color: rgba(255, 255, 255, 0.5);
}
.details {
  color: #0064ff;
}

.tdBig:hover{
  cursor: pointer;
  text-decoration: underline;
}

.tdBig {
  height: 70px;
  border-radius: 5px;
  text-align:center;
  vertical-align:middle;
}

.sprintCheckbox {
  text-align: left;
  height: 70px;
  border-radius: 5px;
}

.sprintname {
  width: 900px;

  text-align: center;
}

.green{
  background-color: rgba(3, 255, 0, 0.5);
}

.yellow {
  background-color: rgba(255, 236, 0, 0.5);
}

.red {
  background-color: rgba(255, 28, 36, 0.5);
}

.blue {
  background-color: rgba(0,0, 255, 0.3);
}

.ui-widget-header {
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.ui-widget-content {
  background-color: rgba(255, 255, 255, 0.85);
}

input[type="checkbox"]{
  display: none;
}

.addUserToTask {
  background-color: rgba(0, 0, 0, 0.1);
}

#chartContainer {
  margin-top:50px;
}